.clearfix::after{       
    content:'';
    display: block;
    clear: both;
}
body{           
    background-color: whitesmoke;            /*背景*/
    margin: 0;                            /*因为body有默认样式，所以让他等于0*/
}
.topNavBar{
    margin-top: 30px;                      /**/
    margin-right:  18px;
    margin-left:  18px;
    margin-bottom: 30px;
}
body > div > ul{
    list-style: none;   
    float: right;
    margin-top: 0px;
    margin-bottom: 5px;
}

body > div > ul > li{
    float: left;     
    margin-left: 18px;
    margin-right: 18px;
    font-weight: bold;
    
}   
body > div > ul > li >a{
    color: #B7B7B7;
    padding-left: 8px;
    padding-right:  8px;
    text-decoration: none;
    padding-bottom: 5px ;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom:4px solid transparent;
}
body > div > ul > li >a:hover{
    border-bottom: 3px solid #E06567;

}

.topNavBar .select{
    font-size: 14px;            
}
.topNavBar .logo {
    text-decoration: none;        
    font-family: "Arial Black";  
    font-weight: bold;              
    font-size: 30px;  
    margin-top: -12px;                  
}
.topNavBar .logo .rs{
    color: #E6686A;            
}
.topNavBar .logo .card{
    color: #9A9DA2;
    margin-left: 3px;          
}
