*{padding: 0;
margin: 0;}
a{text-decoration: none;}

#main1 > div >kbd{
  text-align: center;
  border: 1px solid pink;
  width: 4em;
  height: 4em;
  text-transform: uppercase;     /*  大写   */
  display:inline-block;    /*   默认是inline内联元素 不能改变宽和高 */
  position: relative;
}
#main1  button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
#main1 > div > kbd:hover > button{
  display: inline-block;
}
/* #main1{
  display: inline-block;     不知道为社会么要加
} */
#main1 > div:nth-child(2){
  margin-left: 0.5em;
}
#main1 > div:nth-child(3){
  margin-left: 1em;
}
main{
  text-align: center;
}
